{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}

    <div class="container">
        <div class="mx-auto text-center">
            <h2 class="mt-5">{{ product.name }}</h2>
            <hr>
            <div>Price: <span class="text-danger fw-bold">${{ product.price }}</span></div>
            <h6 class="mt-4">Description:</h6>
            <div class="px-4 w-50 mx-auto fst-italic">{{ product.description }}</div>
            <br>
            <button class="mt-3 btn btn-success">Add to chart</button>
        </div>
    </div>

{% endblock %}